---
layout: default
pageTitle: Army Public Affairs
pageDesc: Public Affairs fulfills the Army's obligation to keep the American people and the Army informed, and helps to establish the conditions that lead to confidence in America's Army and its readiness to conduct operations in peacetime, conflict and war.
pageKeywords: US Army, Army, Army News, ARMY.mil, Headlines, Public Affairs, Official Army Homepage, Hot Topics, Images, Video, Audio, AMP, Social Media, Leaders, History, Organization, Service, AKO
profiles:
    - link: chief
      title: Chief of Public Affairs
      img: jones
      rank: Brigadier General
      name: Omar J. Jones IV
    - link: principaldeputy
      title: Principal Deputy Chief
      img: brady
      name: Michael P. Brady
      add_s: s
    - link: sgm
      title: Sergeant Major of Public Affairs
      img: velazquez
      rank: Sergeant Major
      name: Jose Velazquez
---
<div class="container">
    <div class="inner-container">
        <h4>LEADERS</h4>
        <div class="leader-blocks">
            <ul>
                {% for profile in page.profiles %}
                <li>
                    <a href="{{ profile.link }}/" title="Visit the {{ profile.title }}'{{ profile.add_s }} profile">
                        <span class="image"><img src="/e2/images/rv7/publicaffairs/{{ profile.img }}.jpg" alt="{{ profile.title }}" /></span>
                        <span class="title">{{ profile.title }}</span>
                        <span class="name">{% if profile.rank %}{{ profile.rank }}<br />{% endif %}{{ profile.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <h4>MISSION</h4>
        <p>Public Affairs fulfills the Army's obligation to keep the American people and the Army informed, and helps to establish the conditions that lead to confidence in America's Army and its readiness to conduct operations in peacetime, conflict and war.</p>

        <h4>MEDIA RELATIONS DIVISION</h4>
        <p><a href="mailto:usarmy.pentagon.hqda-ocpa.mbx.mrd-press-desk@mail.mil" title="Email the Media Relations Division press desk">E-mail for MEDIA QUERIES</a></p>
        <p><a href="/e2/downloads/rv7/publicaffairs/MRD_phone_roster.pdf" title="Media Relations Division phone roster PDF">Contact information for MEDIA QUERIES</a></p>

        <h4>COMMUNITY RELATIONS</h4>
        <p>Located in the Pentagon, the <a href="//www.army.mil/comrel/">Community Relations Division</a> coordinates Army community outreach nationwide by connecting Army Senior Leaders with communities and developing relationships with organizations, businesses, sports teams and individuals who support Soldiers, Families and Veterans.</p>
        <p><a href="mailto:usarmy.pentagon.hqda-ocpa.list.crd1@mail.mil">Email the Community Relations team</a></p>

        <h4>RESOURCES</h4>
        <p>To receive new updates, subscribe to the <a href="//www.army.mil/arnews">ARNEWS</a> and <a href="http://www.defense.gov/releases/">News Releases</a> RSS Feeds.</p>
        <p>To receive the daily ARNEWS email digest, subscribe <a href="https://public.govdelivery.com/accounts/USDODARNEWS/subscriber/new">here</a></p>
        <div class="links-list">
            <ul class="link-column">
                <li><a href="//www.army.mil/info/institution/publicAffairs/halloffame?from=pa_ad" title="Army Public Affairs Hall of Fame">Public Affairs Hall of Fame</a></li>
                <li><a href="https://army.deps.mil/army/cmds/ocpa/paportal/SitePages/Home.aspx" title="Public Affairs Portal (CAC Login)">Public Affairs Portal (CAC Login)</a></li>
                <li><a href="//www.army.mil/create/content/core.html" title="Army CORE">Army CORE: Publish content for Army.mil</a></li>
                <li><a href="//www.army.mil/klw/" title="Maj. Gen. Keith L. Ware">Maj. Gen. Keith L. Ware Competition</a></li>
                <li><a href="http://www.armyfieldband.com/" title="Army Field Band">Army Field Band</a></li>
                <li><a href="//www.army.mil/standto/" title="STAND-TO!">STAND-TO!</a></li>
                <li><a href="//www.army.mil/internship/index.htm" title="Civilian Intern Opportunities in Army Public Affairs">Civilian Intern Opportunities</a></li>
            </ul>
            <ul class="link-column">
                <li><a href="http://www.facebook.com/ArmyOCPA/" title="Facebook">OCPA Facebook</a></li>
                <li><a href="http://soldiers.dodlive.mil/" title="Soldiers Magazine">Soldiers Magazine</a></li>
                <li><a href="http://www.dvidshub.net/" title="Defense Video &amp; Imagery Distribution System">Defense Video &amp; Imagery Distribution System</a></li>
                <li><a href="//www.army.mil/create/" title="Army.mil Create">Army.mil Create</a></li>
                <li><a href="/e2/rv5_downloads/armydotmil_style_guide.pdf" title="Army.mil Style Guide">Army.mil Style Guide</a></li>
                <li><a href="//www.army.mil/media/socialmedia/" title="Army Social Media">Army Social Media</a></li>
            </ul>
        </div>
    </div>
</div>
