<div class="org-banner">
    <div class="container">
        <div class="org-inner inner-container">
            {% if page.pageImage %}
            <div class="logo">
                <span></span><img alt="{{ page.pageImageAlt }}" src="{{ page.pageImage }}">
            </div>
            {% endif %}

            <div class="table-center">
                <div class="cell">
                    <h1>{{ page.pageName }}</h1>
                    <div class="left-container">
                        {% if page.pageSubName %}
                        <h2>{{ page.pageSubName }}</h2>
                        {% endif %}
                        {% if page.socialLinks %}
                        <ul class="social-links">
                            {% for social in page.socialLinks %}
                            <li class="social-button {{ social.network | downcase }}-button">
                                <a title="{{ page.pageName }} on {{ social.network }}" href="{{ social.network }}">
                                    <span></span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>