<div class="page-banner {% if layout.bannerLogo %}with-logo{% endif %}">
    <div class="container">
        {% if layout.bannerLogo %}
        <div class="logo">
            {% if layout.bannerBasePath %}
            <a href="{{ layout.bannerBasePath }}"><img alt="{{ layout.bannerLogoAlt }}" src="{{ layout.bannerLogo }}"></a>
            {% else %}
            <img alt="{{ layout.bannerLogoAlt }}" src="{{ layout.bannerLogo }}">
            {% endif %}
        </div>
        {% endif %}

        <div class="inner-container">
            <div class="left-container">
                {% if layout.bannerBasePath %}
                <h2><a href="{{ layout.bannerBasePath }}">{{ layout.bannerHeading }}</a></h2>
                {% else %}
                <h2>{{ layout.bannerHeading }}</h2>
                {% endif %}

                <div class="max-width-container">
                    {% if layout.bannerDesc %}
                    <p>{{ layout.bannerDesc }}</p>
                    {% endif %}

                    {% if layout.bannerSocial %}
                    <ul class="social-links">
                        {% for social in layout.bannerSocial %}
                        <li class="social-button {{ social.network }}-button">
                            <a title="{{ layout.bannerHeading }} on {{ social.title }}" href="{{ social.link }}">
                                <span></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>