<div class="page-banner {% if page.bannerImage %}with-logo{% endif %}">
    <div class="banner-container">
        {% if page.bannerImage %}
        <div class="logo">
            {% if page.bannerBasePath %}
            <a href="{{ page.bannerBasePath }}"><img alt="{{ page.bannerImageAlt }}" src="{{ page.bannerImage }}"></a>
            {% else %}
            <img alt="{{ page.bannerImageAlt }}" src="{{ page.bannerImage }}">
            {% endif %}
        </div>
        {% endif %}

        <div class="banner-inner">
            <div class="left-container">
                {% if page.bannerBasePath %}
                <h1><a href="{{ page.bannerBasePath }}">{{ page.bannerName }}</a></h1>
                {% else %}
                <h1>{{ page.bannerName }}</h1>
                {% endif %}
                

                {% if page.bannerSubName %}
                <h2>{{ page.bannerSubName }}</h2>
                {% endif %}

                <div class="max-width-container">
                    {% if page.bannerDesc %}
                    <p>{{ page.bannerDesc }}</p>
                    {% endif %}

                    {% if page.bannerSocial %}
                    <ul class="social-links">
                        {% for social in page.bannerSocial %}
                        <li class="social-button {{ social.network | downcase }}-button">
                            <a title="{{ page.bannerName }} on {{ social.network }}" href="{{ social.network }}">
                                <span></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>