.leader-blocks {
  overflow: hidden;

  ul {
    @include row(true);

    li {
      @include span(3);
      @include img-grayscale-hover('a', '.image');
      color: map-get($army-branding, white);
      text-align: center;

      a {
        display: block; 
        margin: 0 auto;
        max-width: 270px;
        &:hover {
          text-decoration: none;
        }
      }
    
      .image {
        display: block;
        margin: auto;
        overflow: hidden;
        padding: 100% 0 0;
        position: relative;
        width: 88%;

        img {
          bottom: auto;
          top: -10px;
          left: 0;
          right: 0;
          width: auto;
          max-width: 100%;
        }
      }
    
      .title {
        font: 400 .875em $font-family;
        margin: 17px 0 0;
        text-transform: uppercase;
        display: block;
      }

      .name {
        font: 700 1.25em $font-family;
        display: block;
      }
    }
  }
  
  ul {
    @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
      li a {
        &:hover, &:focus {
          .title:after { width: 100%; }
        }
      }
    }
    @include breakpoints(lg_tablet tablet nav) {
      li {
        @include span(6);
        margin-bottom: 30px;
        
        &:nth-child(3n), &:last-child { margin-bottom: 0; }
        &:nth-child(3) { clear: both; }
      }
    }
    @include breakpoints(tablet) {
      li {
        min-height: 325px;
      }
    }
    @include breakpoints(mobile) {
      li {
        @include span(12);
        margin-bottom: 30px;
      
        &:last-child { margin-bottom: 0; }
      }
    }
    @include breakpoints(lg_tablet tablet nav mobile) {
      li .image {
        padding: 88% 0 0;
        width: 74%;
      }
    }
  }

  @include breakpoints(mobile) {
    margin: 0 auto;
    max-width: 350px;
  }
}
