.masthead * {
  @include box-sizing(border-box);
}

.masthead {
  background: $secondary-background-color;
  overflow: hidden;

  .container {
    h1 {
      color: map-get($army-branding, gold);
      font: 700 2.25em $font-family;
      text-transform: uppercase;
    }
  }

  @include breakpoints(mobile) {
    .container {
      text-align: center;

      h1 { font: 700 1.75em $font-family; }
    }
  }
}