@mixin repeating-gradient($color1, $color2) {
  background: repeating-linear-gradient(
    -45deg,
    $color1,
    $color1 10px,
    $color2 10px,
    $color2 12px
  );
}


@mixin img-grayscale-hover($parent: 'a') {
  img {
    bottom: -2000px;
    margin: auto;
    position: absolute;
    top: -2000px;
    width: 100%;
    
    @include custom-transition(filter 0.25s ease, opacity 0.25s ease);
  }
  
  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    #{$parent}:focus,
    #{$parent}:hover {
      img {
        // TODO: this will use the @include grayscale(); mixin once it is merged with us-army-homepage master
        
        // not using the mixin since it will overwrite the other filter property here
        // and we need to specify filter once for opacity in IE
        // and again for the grayscale on browsers where it will work
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity = 70);
        -moz-filter: grayscale(75%);
        -webkit-filter: grayscale(75%);
        filter: grayscale(75%);
        opacity: .7;
      }
    }
  }
}


@mixin link-underline() {
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}


@mixin link-transition($parent: 'a') {
  span {
    background: map-get($army-branding, black);
    position: absolute;
    @include custom-transition(all .15s ease);
    
    &:nth-child(1),
    &:nth-child(5) {
      height: 1px;
      width: 0;
    }
    
    &:nth-child(1) { left: 50%; }
    
    &:nth-child(2),
    &:last-child {
      left: 50%;
      height: 1px;
      width: 0;
    }
    
    &:nth-child(1),
    &:nth-child(2) { top: 0; }
    
    &:nth-child(5),
    &:last-child { bottom: 0; }
    
    &:nth-child(5), &:last-child {
      bottom: -1px;
      top: auto;
    }
    
    &:nth-child(3) {
      height: 0;
      right: 0;
      top: 0;
      width: 1px;
    }
    
    &:nth-child(4) {
      height: 0;
      left: 0;
      top: 0;
      width: 1px;
    }
    
    &:nth-child(5) { left: 0; }
    
    &:last-child { left: 100%; }
  }
  
  #{$parent}:hover {
    span {
      &:nth-child(1) { left: 0; }
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(5),
      &:last-child { width: 50%; }
      
      &:nth-child(3),&:nth-child(4) {
        height: 100%;
        transition-delay: .15s;
      }
      
      &:last-child { left: 50%; }
      
      &:nth-child(5),&:last-child {
        transition-delay: .3s;
      }
    }
  }
}