<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>{{ page.pageName }} | The United States Army</title>
    <meta property="keywords" name="keywords" content="{{ page.pageKeywords }}"/>
    <meta property="description" name="description" content="{{ page.pageDesc }}"/>
    <meta property="og:title" content="{{ page.pageName }} | The United States Army"/>
    <meta property="og:site_name" content="{{ page.pageName }} | The United States Army"/>
    <meta property="og:description" content="{{ page.pageName }} | The United States Army"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.army.mil/publicaffairs{{ page.url }}">
    <link rel="canonical" href="http://www.army.mil/publicaffairs{{ page.url }}">
    <link rel="stylesheet" href="/e2/css/rv7/publicaffairs/style.css">
</head>
<body id="{{ page.active }}" class="{{ page.id }}">
    {% include globals/header.blade.php %}
    
    {% include masthead.html %}
    
    <div class="main">
        {{ content }}
    </div>
    
    {% include globals/social.blade.php %}
    {% include globals/footer.blade.php %}
    
    <script type="text/javascript" src="/e2/js/rv7/publicaffairs/main.min.js"></script>
</body>
</html>
