---
bannerHeading: Army Public Affairs
bannerDesc: Office of the Chief of Public Affairs (OCPA)
bannerLogo: /e2/images/rv7/org/logos/ocpa.png
bannerLogoAlt: U.S. Army Office of the Chief of Public Affairs
bannerSocial:
    - network: facebook
      title: Facebook
      link: https://www.facebook.com/ArmyOCPA/
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>{% if page.pageTitle %}{{ page.pageTitle }}{% else %}{{ page.bannerName }}{% endif %} | The United States Army</title>
    <meta property="keywords" name="keywords" content="{{ page.pageKeywords }}"/>
    <meta property="description" name="description" content="{{ page.pageDesc }}"/>
    <meta property="og:title" content="{{ page.bannerName }} | The United States Army"/>
    <meta property="og:site_name" content="{{ page.bannerName }} | The United States Army"/>
    <meta property="og:description" content="{{ page.bannerName }} | The United States Army"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.army.mil/publicaffairs{{ page.url }}">
    <link rel="canonical" href="http://www.army.mil/publicaffairs{{ page.url }}">
    <link rel="stylesheet" href="/e2/css/rv7/publicaffairs/style.css">
</head>
<body id="{{ page.active }}" class="{{ page.id }}">
    {% include globals/elements/upgrade.html %}
    {% include globals/elements/header.html %}

    <div class="main">
        {% include banner.html %}
        {{ content }}
    </div>
    
    {% include globals/elements/footer.html %}
    
    <script type="text/javascript" src="/e2/js/rv7/publicaffairs/main.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-27189539-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
       //<![CDATA[
             var usasearch_config = { siteHandle:"www.army.mil" };
             var script = document.createElement("script");
             script.type = "text/javascript";
             script.src = "https://search.usa.gov/javascripts/remote.loader.js";
             document.getElementsByTagName("head")[0].appendChild(script);
       //]]>
    </script>
</body>
</html>
